@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes myAnim {
	0%,
	100% {
		//transform: rotate(-60deg);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

/* Classe componente Nav */
.link{
	position: relative;
	text-decoration: none;
}
.link::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: 15px;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.8s ease-in-out 0s;
	transition: all 0.8s ease-in-out 0s;
}

.link:hover::before{
	visibility: visible;
  	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
}